# fix mac address script domain
type fixmac, domain;
type fixmac_exec, exec_type, file_type;

init_daemon_domain(fixmac)

allow fixmac fixmac_exec:file {execute getattr read open execute_no_trans};
allow fixmac kernel:system module_request;
allow fixmac shell_exec:file read;
allow fixmac radio_data_file:dir search;
allow fixmac wifi_data_file:dir {search write add_name};
allow fixmac wifi_data_file:file {open create read write append getattr};
allow fixmac vfat:dir search;
allow fixmac vfat:file { read open getattr};

allow fixmac self:capability dac_override;
allow fixmac self:capability dac_read_search;
allow fixmac self:capability sys_module;
