# logbatterydata
type battery_data_file, file_type;
type logbatterydata, domain;
type logbatterydata_exec, exec_type, file_type;

init_daemon_domain(logbatterydata)

allow logbatterydata devpts:chr_file rw_file_perms;
allow logbatterydata shell_exec:file { execute read open };
allow logbatterydata self:capability dac_override;
allow logbatterydata logbatterydata_exec:file execute_no_trans;
allow logbatterydata vfat:file { open write };
allow logbatterydata vfat:dir search;
