allow ueventd radio_data_file:dir search;
allow ueventd radio_data_file:file { read open getattr };
allow ueventd radio_data_file:lnk_file { read };
allow ueventd kernel:system module_request;
