on init
   mkdir /bootdata  0777 root root

on fs
   # mount bootdata to restore BCB and counter
   mount vfat /dev/block/platform/omap/omap_hsmmc.1/by-name/bootdata /bootdata

service clearbootdata /sbin/sh /sbin/clearbootdata.sh
    class default
    seclabel u:r:init:s0
    user root
    oneshot
